# Copyright (c) 2024 Kazuyuki Arimatsu
# SPDX-License-Identifier: MIT

if BOARD_THUMBSPLIT60_BLE_RIGHT

config ZMK_KEYBOARD_NAME
	# This must be less than 16 characters long
	default "Thumbsplit60 BLE"

# Right central configuration for Thumbsplit60
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config THUMBSPLIT60_BLE_WIDGET_STATUS
    bool "Custom Thumbsplit60 BLE status widget"
	default y

    select LV_OBJ_LABEL
    imply LV_USE_THEME_MONO
    imply ZMK_WIDGET_LAYER_STATUS
    imply ZMK_WIDGET_BATTERY_STATUS
    imply ZMK_WIDGET_OUTPUT_STATUS

    select LV_FONT_MONTSERRAT_12
    select LV_FONT_MONTSERRAT_16
    select LV_FONT_MONTSERRAT_26

config LV_Z_MEM_POOL_SIZE
    default 4096 if THUMBSPLIT60_BLE_WIDGET_STATUS

endif #BOARD_THUMBSPLIT60_BLE_RIGHT

if BOARD_THUMBSPLIT60_BLE_LEFT || BOARD_THUMBSPLIT60_BLE_RIGHT

config ZMK_SPLIT
	default y

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

config BT_CTLR
    default BT

endif # BOARD_THUMBSPLIT60_BLE_LEFT || BOARD_THUMBSPLIT60_BLE_RIGHT
