#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
//TODO
// -----------------------------------------------------------------------------------------
// |  TAB  |  Q   |  W   |  E   |  R   |  T   |   Y   | 
// |  TAB  |  Q   |  W   |  E   |  R   |  T   |   Y   | 
// |  ESC  |  A   |  S   |  D   |  F   |  G   |   H   | 
// | SHIFT |  Z   |  X   |  C   |  V   |  B   |   N   | 
// | FN    | LGUI | LALT | LCTL | LOWR |     SPACE    | 
// 18/11 = 0.22/0.06 -> OUT_TOG
// 18/12 = 0.22/0.08 -> BT_CLR
			bindings = <
	&kp TAB   &kp Q    &kp W    &kp E     &kp R  &kp T  &kp Y     
	&kp TAB   &kp Q    &kp W    &kp E     &kp R  &kp T  &kp Y     
	&kp ESC   &kp A    &out OUT_TOG    &bt BT_CLR     &kp F  &kp G  &kp H     
	&kp LSHFT &kp Z    &kp X    &kp C     &kp V  &kp B  &kp N     
	&trans    &kp LGUI &kp LALT &kp LCTRL &trans &trans &kp SPACE 
			>;
		};
	};
};
